@import url('https://fonts.cdnfonts.com/css/pixel-millennium');
*{
   font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    background-color: #1E1E1E;
    color: white;
    font-size:16px;

}


@media screen and (min-width: 768px) {
    body{
        font-size: 18px;
        padding: 20px;
    }
   
    #about-me{
        width: 70%;
        margin: auto;
    }
       
    #about-me h2{
        font-size: 20px;
    }
    #about-me p{
        font-size: 18px;
    }

   
    .navbar a{
        margin-left: 20px;
    }
}
    @media screen and (min-width: 1200px) {
        body{
            font-size: 20px;
            padding: 30px;
        }
        header{ 
            padding: 20px;
            font-size: 40px;
        }
        header h1{
            width: 35%;
        }
       
        #about-me{
            width: 70%;
            margin: auto;
        }
           #skills{
            min-width: fit-content;
            height: 100%
            }
        }
   
   
    

header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

header img{
    width: 200px;
    border-radius: 5px;
    box-shadow: rgba(246, 249, 111, 0.2) 0px 7px 29px 0px;
}

h1,h2{
    color: rgb(246, 249, 48);
    text-transform: uppercase;
    letter-spacing: 3px;
}
a, b{
     color: rgb(246, 249, 48);
}

header h1{
   
    font-family: 'Pixel Millennium', sans-serif;
    text-align: center;
    
    line-height: 2;
}




.navbar{
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.623) 0px 0px 0px 1px inset;  
    background-color: #1e1e1eb1;
    top: 0px;
    position: sticky;
    text-align: center;
    margin: 10px;
    padding: 10px;
}


.navbar a:hover{
    color: #fff;
}   


#about-me{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;

   
}
#about-me h2{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.187) 0px 0px 0px 1px inset;      
    font-size: 20px;
}

#about-me p{
    padding: 2px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 1.5;
}


.section img{
    width: 200px;
}


