@import url('https://fonts.cdnfonts.com/css/pixel-millennium');
*{
   font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    background-color: #1E1E1E;
    color: white;
    font-size:16px;

}


@media screen and (min-width: 768px) {
    body{
        font-size: 18px;
        padding: 20px;
    }
    header{ 
            padding: 10px;
            font-size: 30px;
     }
     header h1{
        width: 400px;
     }
 
   
    #about-me{
        width: 70%;
        margin: auto;
    }
       
    #about-me h2{
        font-size: 20px;
    }
    #about-me p{
        font-size: 18px;
    }
   
    .footer-main form input, textarea{
         width: 400px; 

}
   
    .navbar a{
        margin-left: 20px;
    }
}
    @media screen and (min-width: 1200px) {
        body{
            font-size: 20px;
            padding: 30px;
        }
        header{ 
            padding: 30px;
            font-size: 40px;
        }
    
      
       
       
        #about-me{
            width: 60%;
            margin: auto;
        }
           
        
        }
   
   
    

header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

header img{
    width: 200px;
    border-radius: 5px;
    box-shadow: rgba(246, 249, 111, 0.2) 0px 7px 29px 0px;
}

h1,h2{
    color: rgb(246, 249, 48);
    text-transform: uppercase;
    letter-spacing: 3px;
}
a, b{
     color: rgb(246, 249, 48);
}

header h1{
    font-family: 'Pixel Millennium', sans-serif;
    text-align: center;
    line-height: 2;
}






.navbar{
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.623) 0px 0px 0px 1px inset;  
    background-color: #1e1e1ed7;
    top: 0px;
    position: sticky;
    text-align: center;
    
    padding: 5px;
}


a:hover{
    color: #fff;
}   


#about-me{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin: 4rem auto;

   
}
#about-me h2{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.187) 0px 0px 0px 1px inset;      
    font-size: 20px;
}

#about-me p{
    padding: 2px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 1.5;
}


.section img{
    width: 200px;
}

.footer-main{
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.187) 0px 0px 0px 1px inset;      
    bottom: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 500px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 100px;
   
}

.footer-main div, h2{
    text-align: center;
    margin-bottom: 20px;
   
}


.footer-main form{

     padding: 20px;
}

.footer-main form input, textarea{
    padding: 5px;
    display: block;
    outline: none;
    font-size: 18px;
}


.footer-main form label + input, textarea{
    margin: 10px 0;
}


.footer-main button{
    border: none;
  padding: 5px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
   

}


.footer-main button:hover{
     cursor: pointer;
     background-color: rgba(246, 249, 48, 1);

}

