@import url('https://fonts.cdnfonts.com/css/pixel-millennium'); /* for pixel font in  titles */
*{
   font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    background-color: #1E1E1E;
    color: white;
    font-size:16px;

}

/* responsive */
@media screen and (min-width: 768px) {
    body{
        font-size: 18px;
        
    }
    header{
        
            padding: 20px;
            font-size: 30px;
     }
     header h1{
        width: 300px;
     }
    
 
   
    .sections{
        width: 70%;
        margin: auto;
    }
       
    .sections h2{
        font-size: 20px;
    }
    .sections p{
        font-size: 18px;
    }
   
    .footer-main form input, textarea{
         width: 400px; 

}
   
    .navbar a{
        margin-left: 20px;
    }
}
    @media screen and (min-width: 1200px) {
        body{
            font-size: 20px;
            
        }
        header{ 
            padding: 30px;
            font-size: 40px;
        }
        header h1{
            width: 400px;
         }
      
       
       
        .sections{
            width: 60%;
            margin: auto;
        }
        .footer-main form{
            

        }
           
        
    }
   
   
    

header{
    min-height: 50vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

header img{
    width: 200px;
    border-radius: 5px;
    box-shadow: rgba(246, 249, 111, 0.2) 0px 7px 29px 0px;
}



/* title, links and bolds style  */
h1,h2,h3,h4{
   
    font-family: 'Pixel Millennium', sans-serif;
    text-align: center;
    line-height: 2;
    color: rgb(246, 249, 48);
    text-transform: uppercase;
    letter-spacing: 4px;
}
a, b{
     color: rgb(246, 249, 48);
}
/* hover for all the links  */
a:hover{
    color: #fff;
} 



/* icons */
i{
    color: white;
    transition: .2s;
}

#skills i{
    font-size: 100px;
}
#projects i {
    margin: 20px 0;
    font-size: 40px;
}

i:hover{
    cursor: pointer;
    color:rgb(238, 241, 62);
    transform: scale(0.9);
}
  

/* end icons */




.navbar{
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.623) 0px 0px 0px 1px inset;  
    background-color: #1e1e1ed7;
    top: 0px;
    position: sticky;
    text-align: center;
    
    padding: 5px;
}







/* skills, project  and about-me */
.sections{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 4rem auto;
    padding: 40px;
 
}

.sections h2{
    margin: 40px 0;
    width: fit-content;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.187) 0px 0px 0px 1px inset;      
    font-size: 20px;
}



/* contend inside the sections */
.sections p {
    padding: 2px;
    text-align: justify;
    word-spacing: 2px;
    line-height: 1.5;
}

.content-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 55px;
    
}



/* projects boxes */
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 330px;
    height: 300px;
    border-radius: 2px;
    transition: .3s;
    box-shadow: 0 0 11px rgba(247, 242, 197, 0.048); 
    text-align: center;
    cursor: pointer;
}

.box:hover{
    box-shadow: 0 0 11px rgba(245, 240, 171, 0.541); 
   /*  transform: scale(0.9); */
}
.box span{
    /* description */
    padding: 10px;
    font-size: 15px;
}



/* footer, form */
.footer-main{
     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(209, 213, 219, 0.187) 0px 0px 0px 1px inset;      
    bottom: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 100px;
}


.footer-main div, h2{
    text-align: center;
   
   
}
.find-me i{
    display: block;
    margin-bottom: 10px;
    font-size: 50px;
}



.footer-main form{
    
     padding: 20px;
}

.footer-main form input, textarea{
    padding: 5px;
    display: block;
    outline: none;
    font-size: 18px;
}


.footer-main form label + input, textarea{
    margin: 10px 0;
}


.footer-main button{
    border: none;
  padding: 5px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
   

}


.footer-main button:hover{
     cursor: pointer;
     background-color: rgba(246, 249, 48, 1);

}

